<style>
  .reveal section.left-aligned p { text-align: left;
  }
  
  .reveal strong {
    color: blue;
  }
  .home-link {
    position: absolute;
    font-size: 150%;
    left: 20px;
    bottom: 20px;          
  }
  .reveal div.side-by-side figure {
    display: inline;
  }
  .reveal div.side-by-side figure:first-of-type {
    left: 5%;
  }
  .reveal div.side-by-side figure:nth-of-type(2) {
    right: 5%;
  }
  .reveal div.left-float figure {
    display: inline;
    float: left;
  }
  .reveal div.left-float ul {
    display: inline-block;
    margin-left: 0em;
    //float: left;
  }
</style>
{{ template "_internal/google_analytics.html" . }} 
