name: Hugo

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: create worktree
      run: git worktree add -B gh-pages public origin/gh-pages

    - name: Hugo
      uses: klakegg/actions-hugo@1.0.0
      with:
        version: 0.73.0
    
    - name: Push
      run: chmod 755 ./deploy.sh && ./deploy.sh